body {
  background-color: #2b2b2b;
  
}
ul,
ul li {
  margin: 0px;
  padding: 0px;
}
.header nav.navbar.white-link .navbar-nav > li > a,
nav.navbar.bootsnav.white-link ul.nav > li > a,
header nav.navbar.white-link .header-social-icon a,
nav.navbar.bootsnav.white-link .header-social-icon a,
header nav.navbar.white-link .header-searchbar a,
nav.navbar.bootsnav.white-link .header-searchbar a,
header nav.navbar.bootsnav ul.nav.white-link > li > a,
nav.navbar.white-link .heder-menu-button a {
  color: #79c000;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.trocaCorHeader a {
  color: rgb(255, 255, 255) !important;
}
.white-move .swiper-slide {
  cursor: auto;
}
.swiper-wrapper h6 {
  font-size: 2rem;
  color: white !important;
  opacity: 1 !important;
}
.btn-language img {
  border-radius: 50%;
  border-color: 3px solid white;
  height: 30px;
  width: 30px;
  opacity: 0.75;
  box-shadow: 2px solid black;
}
#out-lang{
  position: relative;
  z-index: 99999;
  height: max-content !important;
  width: 100% !important;
  background-color: red !important;
}
#lang-icon{
  display: flex;
  align-self: center;
  position: absolute;
  width: 25px;
  height: auto;
  margin: 6px 0px 0px 10px;
}
#lang-icon2{
  display: flex;
  align-self: center;
  position: absolute;
  width: 15px;
  height: auto;
  margin: 6px 0px 0px 45px;
}
#btn-lang-open{
  position: absolute;
  color: #79c000;
  display: inline-block;
  width: 80px ;
  height: 70px;
  margin: 0px 0px 0px -50px;
}
#btn-change-lang{
  background-color: rgba(255, 0, 0, 0);
  width: 60px;
  height: 40px;
  margin: -24px 0px 0px 0px !important;
  display: flex;
  flex-direction: row;
}
#box-lang{
  visibility: hidden;
}
.box-lang{
  display: block;
  margin: 10px 20px 0px -80px;
  width: 120px;
  text-align: start;
  background-color: #2525256e;
  border-radius: 10px;
}
.box-lang ul li a{
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem !important;
  line-height: 30px;
  color: rgb(211, 211, 211) !important;
  margin: 0px 0px 0px 10px;
  padding: 5px 10px 5px 0px;
}
.box-lang ul li:hover{
  background-color: rgba(102, 196, 78, 0.507);
  display: block;
  border-radius: 10px;
  margin: 0px;
}

.box-lang ul li span svg{
  display: flex;
  align-self: center !important;
  display: inline;
  margin: 0px 0px 3px 0px;
  width: 25px;
  height: auto;
}

.age-text-btn{
  padding: 20px; 
  font-size: 1.1rem;
  border-radius: 6px !important;
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;1,100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton:300,400,600,800|Nunito:300,400,600,800");

/* INÍCIO ONDAS */

div.wave-topo {
  width: 100%;
  bottom: 0;
  position: absolute;
  margin-top: -500px !important;
}
.wave-topo svg {
  margin-top: -400px !important;
  z-index: 49;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
/* FIM ONDAS */
#about .container {
  padding-top: 0px !important;
}
p {
  font-size: 1.125rem;
}
.fadeInRight li {
  font-size: 1.125rem;
}
section#about .cover-background {
  padding-top: 0px;
}
/* quadro2 */
section#about h3 {
  word-wrap: normal;
  flex-wrap: nowrap;
  font-size: 3.3rem;
  margin-bottom: 50px;
  text-align: end;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: "Montserrat", sans-serif;
}
.quadro2 p {
  text-align: justify;
  color: #e2e2e2;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
body {
  height: 100%;
  margin: 0;
}

#container {
  position: relative;
  height: 90vh;
}
.quadradinho{
  height: 390px;
  width: 420px;
  padding: 10%;
  background-color: #e6e6e6;
  margin: 0px 20px 0px 20px;
}
.quadradinho p {
  color: #252525;
}
.quadro3 {
  background-color: white;
  padding-top: 200px ;
}
.quadro3 .titulo {
  color: #f0f0f0;
  font-size: 3.3rem;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.quadro3 .subtitulo {
  margin-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.quadro3 .bg-white {
  background-color: #e7e7e7 !important;
}
.quadro3 .bg-white p {
  color: #292929;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-size: 1.35rem;
  text-align: center;
}
.quadro3 .bg-white h4 {
  margin-top: -25px;
  margin-bottom: 20px !important;
}
.quadro3 .titulo2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 22px;
}

.quadro4 {
  padding-top: 0px !important;
  background-color: #2b2b2b;
  padding-bottom: 100px !important;
}
.quadro4 h5 {
  font-size: 3.3rem;
  line-height: 50px;
}
section {
  padding-top: 0px;
}
.quadro5 .box-esq h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: left;
}
.quadro5 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
}
.crm {
  padding: 150px 0px 0px 0px;
  text-align: center;
  justify-content: center;
  width: 100%;
  color: black;
}
.subcrm {
  text-align: center;
  justify-content: center;
  color: black;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}
.quadro6 {
  background-color: #2b2b2b;
  padding-top: 100px;
  text-align: center;
  justify-content: center;
}
.box-dir svg {
  justify-content: center;
  text-align: center;
  display: inline-block;
}
.feature-box-18 {
  text-align: center;
  justify-content: center;
}
.box-dir p {
  color: rgb(94, 94, 94);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: 300;
}
.box-dir .text-medium {
  font-size: 1.4rem;
}

.box-dir ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
}
.box-esq ul li {
  font-size: 1.2rem;
  padding: 3px;
  font-family: "Montserrat", sans-serif;
}
.solucao{padding: 10% 10% 10% 5%;}
.solucao p {
  text-align: justify;
  font-size: 1.5rem;
  color: rgb(37, 37, 37);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.solucao h4,
.quadro7 h4 {
  font-family: "Montserrat", sans-serif;
  text-align: right;
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 60px;
  color: rgb(37, 37, 37);
}
.solucao li {
  color: rgb(37, 37, 37) !important;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: start;
}
.quadro7 {
  justify-content: end;
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: white;
}
.quadro7 .box-esq2 h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.3rem;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: left;
}
.box-esq2 ul li {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
.quadro7 img {
  width: 600px;
  padding: 0px 20px 20px 20px;
  margin-top: 0px;
}
#icone1,
#icone2,
#icone3,
#icone4,
#msg1,
#msg2,
#msg3,
#msg4,
#msg5,
#msg6,
#msg7,
#msg8 {
  transition: 0.01s;
}
.feature-box-18:hover p {
  opacity: 0.8 !important;
}
.container-footer {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0px;
}
.crm2 {
  padding: 100px 0px 0px 0px;
  text-align: center;
  justify-content: center;
  width: 100%;
  color: black;
}
.subcrm2 {
  text-align: justify;
  justify-content: center;
  color: black;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}
/* ============================
== TEXTO "ATENÇÃO" NO FOOTER ==
===============================*/
.aviso {
  margin-top: 30px;
  text-align: center;
  color: #e6e6e6;
}
.aviso h2 {
  color: #d6d5d5;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0px;
}
.aviso ul li {
  list-style: none;
  text-align: center;
  color: #6f6f6f;
  font-size: 1.2rem;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.lei h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem !important;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  margin-left: 15px;
}
.leis-icon {
  justify-content: center;
  text-align: center;
  display: inline-block;
  margin: 20px 0px 0px 10px;
}
.box-info {
  padding: 10px 40px 10px 40px;
}
.info1 {
  width: 300px !important;
  text-align: center;
}
.info1 span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}
.box-info2 .info1 span {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.titulo-info {
  text-align: center;
  color: #e6e6e6;
  padding: 0px 30px 50px 30px;
}
.titulo-info h2 {
  line-height: normal;
  color: #d6d5d5;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  margin: 0px;
}

.titulo-info2 h2 {
  line-height: normal;
  color: #d6d5d5;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  margin: 0px;
}
.titulo-info3 a {
  line-height: normal;
  color: #d6d5d5;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0px 30px;
}
.titulo-info3 a:hover
{
  text-shadow: 0 0 2px #fff, 0 0 26px rgb(255, 255, 255);
}
footer {
  padding: 50px 50px 0px 50px;
}
.trabalho {
  margin-right: -10px;
  margin-top: -10px;
  width: 300px !important;
  text-align: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.trabalho h5 {
  font-size: 1.3rem;
}
.trabalho span,
a {
  font-size: 1rem;
}
.container-footer .fab {
  margin: 0px 10px 0px 10px;
}
footer {
  margin-top: 0px;
}
/* ------------------------- */
.foot-menu a:hover {
  color: #a9caac;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}
.foot-menu a {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  padding: 10px;
  color: #d6d5d5d5;
}
.copy-right h5 {
  font-size: 1rem;
}
.page-rights {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(211, 211, 211);
  text-align: center;
  padding: 0px 400px 0px 400px;
}
.page-rights p a,
ul li a {
  color: rgb(67, 139, 70);
}
.page-rights h3 {
  text-align: start;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}
.page-rights td,
th {
  font-size: 1rem;
  color: rgb(211, 211, 211);
  align-items: center !important;
  justify-content: center;
}
.pages-rights ul li {
  font-size: 1rem !important;
}
.cabecalho {
  text-align: center;
  justify-content: center;
  color: rgb(119, 119, 119);
}
#letra5,
#letra6,
#letra7 {
  opacity: 0;
  color: rgb(221, 221, 221);
}
.game-page img {
  border-radius: 10px;
  border: 4px solid rgb(0, 0, 0);
  height: 300px;
  width: 500px;
  display: inline;
  margin: 20px;

}
 .imagem{
  margin-top: 100px;
  text-align: center;
}
.img-vertical{
  height: 500px !important;
  width: 320px !important;
}
.page-logo{
  margin-top: -10%;
  display: inline;
  justify-content: center;
  width: 550px ;
  height: 450px ;
}
.game-page li {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.5rem;
  margin: 20px;
}
.game-page ul{
  text-align: center;
  padding: 20px 00px 10px 00px;
  list-style: none;
}
.game-page h1 {
  margin-top: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: white;
  font-weight: 700;
}
.game-page .botao {
  text-align: center;
  justify-content: center;
}
.game-page .botao3{
  text-align: center;
  justify-content: center;
}
.botao3 button{
  background-image: url("/images/play.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 97px;
  width: 230px;
  margin: 0px;
  border: none;
  padding: 5px;;
}
.botao3 button:hover{
  background-image: url("/images/play_hover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}
.botao3 button:active {
  background-image: url("/images/play_pressed.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}
.game-page {
  height: 1350px;
  margin-top: -30px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1900' height='1305' preserveAspectRatio='none' viewBox='0 0 1900 1305'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1157%26quot%3b)' fill='none'%3e%3crect width='1900' height='1305' x='0' y='0' fill='rgba(43%2c 43%2c 43%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1164' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1164' x='0' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1164' x='720' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1164' x='720' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1164' x='1440' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1164' x='1440' y='720'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1157'%3e%3crect width='1900' height='1305' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1161'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1160'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1158'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1159'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1162'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1163'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1164'%3e%3cuse xlink:href='%23SvgjsPath1158' x='30' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='30' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='30' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='30' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='30' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='30' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='30' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='30' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='30' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='30' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='30' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='30' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='90' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='90' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='90' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='90' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='90' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='90' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='90' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='90' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='90' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='90' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='90' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='90' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='150' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='150' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='150' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='150' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='150' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='150' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='150' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='150' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='150' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='150' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='150' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='150' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='210' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='210' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1163' x='210' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='210' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='210' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='210' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='210' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='210' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='210' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='210' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='210' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='210' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='270' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='270' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='270' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='270' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='270' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='270' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='270' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='270' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='270' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='270' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='270' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='270' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='330' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='330' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='330' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1163' x='330' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='330' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='330' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='330' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='330' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='330' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='330' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='330' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='330' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='390' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='390' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='390' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='390' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='390' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='390' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='390' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='390' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1163' x='390' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='390' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='390' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='390' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='450' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='450' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='450' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='450' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='450' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='450' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='450' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='450' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='450' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='450' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='450' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='450' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='510' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='510' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1163' x='510' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='510' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='510' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='510' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='510' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='510' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='510' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='510' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='510' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='510' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='570' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='570' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='570' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='570' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='570' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='570' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='570' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='570' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='570' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='570' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='570' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='570' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='630' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='630' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='630' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='630' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='630' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='630' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='630' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='630' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='630' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='630' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='630' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='630' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='690' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='690' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='690' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='690' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='690' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='690' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='690' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='690' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='690' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='690' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1163' x='690' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='690' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}
.botao3 p{
  font-family: "Montserrat", sans-serif;
  color: rgb(146, 146, 146);
  font-weight: 500;
  padding: 10px;
}
.page-rights-2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(211, 211, 211);
  text-align: start;
  padding: 0px 400px 0px 400px;
}
.page-rights-2 p a,
ul li a {
  color: rgb(67, 139, 70);
}
.page-rights-2 p {
  padding: 15px 0px 15px 0px;
}
.page-rights-2 h3 {
  margin: 20px 0px 0px 0px;
  text-align: start;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}
.page-rights-2 td,
th {
  font-size: 1rem;
  color: rgb(211, 211, 211);
  align-items: center !important;
  justify-content: center;
}
.contact-slider{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1900' height='1305' preserveAspectRatio='none' viewBox='0 0 1900 1305'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1157%26quot%3b)' fill='none'%3e%3crect width='1900' height='1305' x='0' y='0' fill='rgba(43%2c 43%2c 43%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1164' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1164' x='0' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1164' x='720' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1164' x='720' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1164' x='1440' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1164' x='1440' y='720'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1157'%3e%3crect width='1900' height='1305' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1161'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1160'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1158'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1159'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1162'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1163'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1164'%3e%3cuse xlink:href='%23SvgjsPath1158' x='30' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='30' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='30' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='30' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='30' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='30' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='30' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='30' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='30' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='30' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='30' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='30' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='90' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='90' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='90' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='90' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='90' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='90' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='90' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='90' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='90' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='90' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='90' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='90' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='150' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='150' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='150' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='150' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='150' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='150' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='150' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='150' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='150' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='150' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='150' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='150' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='210' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='210' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1163' x='210' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='210' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='210' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='210' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='210' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='210' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='210' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='210' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='210' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='210' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='270' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='270' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='270' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='270' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='270' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='270' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='270' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='270' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='270' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='270' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='270' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='270' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='330' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='330' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='330' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1163' x='330' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='330' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='330' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='330' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='330' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='330' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='330' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='330' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='330' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='390' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='390' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='390' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='390' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='390' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='390' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='390' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='390' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1163' x='390' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='390' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='390' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='390' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='450' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='450' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='450' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='450' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='450' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='450' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='450' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='450' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='450' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='450' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='450' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='450' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='510' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='510' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1163' x='510' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='510' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='510' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='510' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='510' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='510' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='510' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='510' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='510' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='510' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='570' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='570' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='570' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='570' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='570' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='570' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='570' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='570' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='570' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='570' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='570' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='570' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='630' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='630' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='630' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='630' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='630' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='630' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='630' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='630' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='630' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='630' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='630' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='630' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='690' y='30' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1160' x='690' y='90' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='690' y='150' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1161' x='690' y='210' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='690' y='270' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1159' x='690' y='330' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='690' y='390' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='690' y='450' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1158' x='690' y='510' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='690' y='570' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1163' x='690' y='630' stroke='rgba(121%2c 192%2c 0%2c 0.5)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1162' x='690' y='690' stroke='rgba(121%2c 192%2c 0%2c 0.5)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}
.contact-page li {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.5rem;
  margin: 20px;
  font-weight: 300;
}
.contact-page ul{
  text-align: center;
  padding: 20px 200px 10px 200px;
  list-style: none;
}
.contact-page h1 {
  margin-top: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: white;
  font-weight: 700;
}
.box-info2 {
  padding: 0px 0px 10px 0px;
  margin: -10px 0px 0px 0px;
}
.leis-icon2 {
  justify-content: center;
  text-align: center;
  display: inline-block;
  margin: 5px 0px 0px 10px;
}
.box-info2 h5{
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem !important;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  margin-left: 15px;
}
.footer-logo{width: 300px;}
.aviso img{
  width: 40px !important; 
  height: auto;
  display: inline;
  margin-left: 20px;
}